name: Link Checker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 0 * * 1"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lychee Checker
        uses: lycheeverse/lychee-action@v1.9.0
        with:
          args: --verbose --no-progress './**/*.md'
